work/quartus/sha256_spi/greybox_tmp/
work/quartus/sha256_spi/incremental_db/
work/quartus/sha256_spi/build_net/
work/quartus/sha256_spi/db/
work/quartus/sha256_spi/output_files/
work/modelsim/sha256_spi/work/
work/modelsim/sha256_spi/sha256_spi.cr.mti
work/quartus/sha256_spi/sha256_spi_nativelink_simulation.rpt
